In [1]:
# pyrmid pattern

In [21]:
for i in range(1,5):
    for j in range(i,4):
        print("$",end="")

    for k in range(1,i+1):
        print("*",end=" ")

    print()

$$$*
$$* *
$* * *
* * * *

In [25]:
for i in range(1,5):
    for j in range(i,4):
        print(" ",end="")

    for k in range(1,i+1):
        print("*",end=" ")

    print()

   *
  * *
 * * *
* * * *

In [29]:
for i in range(1,5):
    for j in range(1,i):
        print(" ",end="")

    for k in range(i,5):
        print("*",end=" ")

    print()

* * * *
 * * *
  * *
   *

In [43]:
num=5
count=2
for i in range(1,num+1):
    for j in range(i,num):
        print(" ",end="")

    for k in range(1,count):
        print("*",end="")

    count=count+2
        

    print()

    *
   ***
  *****
 *******
*********

In [57]:
num=5

for i in range(1,num+1):
    for j in range(i,num):
        print(" ",end="")

    for k in range(1,2*i):
        print("*",end="")

    
        

    print()

    *
   ***
  *****
 *******
*********

In [103]:
num=7
count=num*2

for i in range(1,num+1):
    for j in range(1,i):
        print("-",end="")

    for k in range(1,count):
        print("*",end="")

    count-=2
    print()

*************
-***********
--*********
---*******
----*****
-----***
------*

In [107]:
num=7
count=num*2

for i in range(1,num+1):
    for j in range(1,i):
        print(" ",end="")

    for k in range(1,count):
        print("*",end="")

    count-=2
    print()

*************
 ***********
  *********
   *******
    *****
     ***
      *

In [109]:
# list
# can store multiple values ( can collect multiple value together)
# its a mutable data type
# ,
# list can use any data type possible
# can access the data on the basis of index position

In [139]:
marks=[10,55,0,90,87,6]
marks[3]

90

In [145]:
marks[0:3]

[10, 55, 0]

In [149]:
# to update the value in the list
marks[0]=30
print(marks)

[30, 55, 0, 90, 87, 6]

In [153]:
# append will the update the data at the last of the list
marks.append("hey")
print(marks)

[30, 55, 0, 90, 87, 6, 'hey', 'hey']

In [161]:
# to insert more elements

marks.extend("hey")
print(marks)

[30, 55, 0, 90, 87, 6, 'hey', 'hey', 'h', 'e', 'l', 'l', 'o', 'h', 'e', 'y', 'h', 'e', 'y', 'h', 'e', 'y']

In [165]:
mylist=[10,20,30,40,50]
mylist.extend("hey")
print(mylist)

[10, 20, 30, 40, 50, 'h', 'e', 'y']

In [169]:
# insert
# it takes more time in programe (so we wont use it)

mylist=[10,20,30,40,50]
mylist.insert(2,60)
print(mylist)

[10, 20, 60, 30, 40, 50]

In [173]:
mylist=[10,20,30,40,50]
mylist.pop()
print(mylist)

[10, 20, 30, 40]

In [177]:
mylist=[10,20,30,40,50]
mylist.sort()
print(mylist)

[10, 20, 30, 40, 50]

In [185]:
data="hey"
for i in range(0,len(data)):
    print(i,data[i])

0 h
1 e
2 y

In [191]:
mylist=[10,20,30,40,50,"hey"]
for i in range(0,len(mylist)):
    print(i,mylist[i])

0 10
1 20
2 30
3 40
4 50
5 hey

In [209]:
mylist=[10,20,30,40,60]
target=50
for i in range(0,len(mylist)):
    if(mylist[i]>target):
        print(mylist[i])

60

In [243]:
mylist=[10,20,30,40,50]

for i in range(0,len(mylist)):
    if(mylist[i]>target):
        mylist[i]="hey"
print(mylist)

[10, 20, 30, 40, 50]

In [259]:
mylist=[10,2,30,90,5]
max1=0


for i in range(0,len(mylist)):
    if(mylist[i]>max1):
       max1=mylist[i]
print("max1 is",max1)

max1 is 90

In [ ]:
#1.find out the total of elements of the list
# 2. find the average of the list
# 3. to study( find out the middle position) and second higest number