In [11]:
# to find maximum number

mylist=[10,88,20,30]
max1=0
for i in  range(0,len(mylist)):
    if(mylist[i]>max1):
        max1=mylist[i]

print(max1)

88

In [17]:
# to find second maximum value

mylist=[10,20,30,88]
max1=0
smax=0
for i in  range(0,len(mylist)):
    if(mylist[i]>max1):
        smax=max1
        max1=mylist[i]
        print("smax",smax, "max1",max1)

print(max1)

smax 0 max1 10
smax 10 max1 20
smax 20 max1 30
smax 30 max1 88
88

In [29]:
# to find second maximum value

mylist=[10,20,88,30]
max1=0
smax=0
for i in  range(0,len(mylist)):
    if(mylist[i]>max1):
        smax=max1
        max1=mylist[i]
       # print("smax",smax, "max1",max1)

    elif(mylist[i]>smax):
        smax=mylist[i]

print("max1 is",max1,"smax is",smax)

max1 is 88 smax is 30

In [35]:
# to find out the duplicate elements (to print the process and check) step.1

mylist=[10,20,30,40,10]
for i in range(0,len(mylist)):
    print(mylist[i])
    for j in range(i+1,len(mylist)):
        print(mylist[i],mylist[j])

10
10 20
10 30
10 40
10 10
20
20 30
20 40
20 10
30
30 40
30 10
40
40 10
10

In [41]:
# to find out the duplicate elements Step.2

mylist=[10,20,30,20,40,10]
for i in range(0,len(mylist)):
    for j in range(i+1,len(mylist)):
        if(mylist[i]==mylist[j]):
            print("duplicate element",mylist[i])

duplicate element 10
duplicate element 20

In [73]:
# to find out the target

mylist=[10,20,30,40,10]
target=60
for i in range(0,len(mylist)):
    for j in range(i+1,len(mylist)):
        if(mylist[i]+mylist[j] == target):
            print("mylist[i]",mylist[i],"mylist[j]",mylist[j],"target is",target)

mylist[i] 20 mylist[j] 40 target is 60

In [55]:
# TUPLE 
# its a data type in which collect multiple data type
# its immutable
# it has index position

In [59]:
x=10,201,20,3
print(type(x))

<class 'tuple'>

In [63]:
x=(10,201,20,3)
print(type(x))

<class 'tuple'>

In [69]:
mytuple=(10,20,"hey")
mytuple

(10, 20, 'hey')

In [71]:
# Dictionary
# key and value pair
# key => is unique
# value => it can be unique or duplicate
# dictionary do not work on index (do not have index)

In [77]:
adhardetails={101:"harsh",102:"shivali",103:"mikku"}
adhardetails

{101: 'harsh', 102: 'shivali', 103: 'mikku'}

In [81]:
adhardetails[102]

'shivali'

In [85]:
adhardetails[103]

'mikku'

In [89]:
# to update the value (key=newvalue)

adhardetails={101:"harsh",102:"shivali",103:"mikku"}
adhardetails[103]="honey"
adhardetails

{101: 'harsh', 102: 'shivali', 103: 'honey'}

In [93]:
# to insert the data (key=newvalue)

adhardetails={101:"harsh",102:"shivali",103:"mikku"}
adhardetails[103]="honey"
adhardetails[104]="mikku"
adhardetails

{101: 'harsh', 102: 'shivali', 103: 'honey', 104: 'mikku'}

In [97]:
# to update (way 1)
marks={1:10,2:85,3:31}
marks[3]= marks[3]+5
print(marks)

{1: 10, 2: 85, 3: 36}

In [101]:
# to update (way 2)
marks={1:10,2:85,3:31}
marks[3]= 36
print(marks)

{1: 10, 2: 85, 3: 36}

In [127]:
mycount={100:0}
for i in range(56,99):
    mycount[100]=mycount[100]+1

print(mycount)

{100: 43}

In [137]:
mychar={"total":0}
data="rhytam bde"
for i in range(0,len(data)):
    mychar["total"]= mychar["total"]+1

print(mychar)

{'total': 10}

In [ ]:
# learning assignemnt

# list comphernsion
# zip vs enumerate function (difference)