In [7]:
mydictionary={1:"abc",1:"def"}
print(mydictionary)

{1: 'def'}

In [11]:
mydictionary={1:"abc",1:"def"}
print(mydictionary[1])

def

In [21]:
# vowel by dictionary 

myd={"total":0}
for char in "hey":
    if char in "aeiou":
        myd["total"]=myd["total"]+1

        print(char)

e

In [27]:
myd={}
for char in "hey":
    if char in "aeiou":
        myd[char]=1

print(myd)

{'e': 1}

In [39]:
# 

myd={}
for char in "heyaia":
    if char in "aeiou":
        if char not in myd:
            myd[char]=1

        else:
            myd[char]=myd[char]+1

print(myd)

{'e': 1, 'a': 2, 'i': 1}

In [61]:
mylist=[10,20,30,40,12]
myvalue={}
for i in range(0,len(mylist)):
    myvalue[mylist[i]]=i

print(myvalue)

{10: 0, 20: 1, 30: 2, 40: 3, 12: 4}

In [69]:
mylist=[10,20,30,40,12]
myvalue={}
target=50
for i in range(0,len(mylist)):
    myvalue[mylist[i]]=i

print(myvalue)
for i in mylist:
    print(target-i)

{10: 0, 20: 1, 30: 2, 40: 3, 12: 4}
40
30
20
10
38

In [73]:
mylist=[10,20,30,40,12]
myvalue={}
target=50
for i in range(0,len(mylist)):
    myvalue[mylist[i]]=i

print(myvalue)
for i in mylist:
    x=target-i
    if(x in myvalue):
        print("target is matched:",x,i)

{10: 0, 20: 1, 30: 2, 40: 3, 12: 4}
target is matched: 40 10
target is matched: 30 20
target is matched: 20 30
target is matched: 10 40

In [5]:
myvalue={}
for i in range(65,91):
    myvalue[i]=chr(i)

print(myvalue)

{65: 'A', 66: 'B', 67: 'C', 68: 'D', 69: 'E', 70: 'F', 71: 'G', 72: 'H', 73: 'I', 74: 'J', 75: 'K', 76: 'L', 77: 'M', 78: 'N', 79: 'O', 80: 'P', 81: 'Q', 82: 'R', 83: 'S', 84: 'T', 85: 'U', 86: 'V', 87: 'W', 88: 'X', 89: 'Y', 90: 'Z'}

In [13]:
myvalue={}
for i in range(65,91):
    myvalue[i]=chr(i)

print(myvalue)
data="a.cd"
for char in data:
    x=ord(char)-32
    if(x in myvalue):
        print(myvalue[x])

{65: 'A', 66: 'B', 67: 'C', 68: 'D', 69: 'E', 70: 'F', 71: 'G', 72: 'H', 73: 'I', 74: 'J', 75: 'K', 76: 'L', 77: 'M', 78: 'N', 79: 'O', 80: 'P', 81: 'Q', 82: 'R', 83: 'S', 84: 'T', 85: 'U', 86: 'V', 87: 'W', 88: 'X', 89: 'Y', 90: 'Z'}
A
C
D

In [15]:
# SET
# is a data type in which we store unique value
# its a mutable data type
# set do not have any index position (its unorderd)
# no duplicate

In [19]:
myset={1,2,3,4,1,2}
myset

{1, 2, 3, 4}

In [23]:
myset={1,2,3,4,5,"a"}
myset

{1, 2, 3, 4, 5, 'a'}

In [31]:
# to add the data into set
myset={1,2,3,4,5,"a"}
myset.add(654)
myset

{1, 2, 3, 4, 5, 654, 'a'}

In [35]:
# to remove the data from the set
myset={1,2,3,4,5,"a"}
myset.remove(2)
myset

{1, 3, 4, 5, 'a'}

In [41]:
myset=set({})   # for useing the set empty we use SET()

In [49]:
# to mearge the sets
myset={10,20,30}
myset2={30,40,50}
myset.union(myset2)

{10, 20, 30, 40, 50}

In [53]:
# intersection (for commen elements)(it will give you the common elemnet)
myset={10,20,30}
myset2={30,40,50}
myset.intersection(myset2)

{30}

In [55]:
 # difference function (will give the difference elements)

myset={10,20,30}
myset2={30,40,50}
myset.difference(myset2)

{10, 20}

In [61]:
myset={10,20,30}
myset2={30,40,50}
myset2.difference(myset)

{40, 50}

In [63]:
myset={10,20,30}
myset2={30,40,50}
help(myset)

Help on set object:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      Unlike set.remove(), the discard() method does not raise
 |      an exception when an element is missing from the set.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(self, other, /)
 |      Test whether every element in the set is in other.
 |
 |  issuperset(self, other, /)
 |      Test whether every element in other is in the set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [69]:
myset={10,20,30}
myset2={30,40,50}
myset.isdisjoint(myset2)

False

In [75]:
myset={10,20,30}
myset2={40,50}
myset.isdisjoint(myset2)

True

In [ ]:
#  1. union
# 2 intersection
# 3 difference
# 4 isdisjoint
# 5 symmetric difference
# issuperset