In [1]:
# DICTIONARY

In [5]:
#1.
mydictionary={1:"harsh", 2: "hey"}
print(mydictionary)

{1: 'harsh', 2: 'hey'}

In [9]:
# 2. To access the data on the basis of KEY
mydictionary={1:"harsh", 2: "hey"}
print(mydictionary[1])

harsh

In [15]:
# 3. To UPDATE or CHANGE the value

mydictionary={1:"harsh", 2: "hey"}
mydictionary[1]="hope"
print(mydictionary)

{1: 'hope', 2: 'hey'}

In [19]:
# 4. To INSERT the new value

mydictionary={1:"harsh", 2: "hey"}
mydictionary[3]="hope"
print(mydictionary)

{1: 'harsh', 2: 'hey', 3: 'hope'}

In [23]:
# 5. To delete the value from the DICTIONARY

mydictionary={1:"harsh", 2: "hey"}
mydictionary.pop(1)
print(mydictionary)

{2: 'hey'}

In [37]:
# 6. To print the key along with the value in DICTIONARY

mydictionary={1:"harsh", 2: "hey"}
for key in mydictionary:
   print(key,mydictionary[key])

1 harsh
2 hey

In [47]:
# 7. To return the DATA or VALUE

mydictionary={1: "harsh", 2: "hope"}
mydictionary[1]="himalayan"
mydictionary[3]="royal enfield"
for data in mydictionary.values():
    print(data)

himalayan
hope
royal enfield

In [49]:
# 8. it gives you the keys and value in tuple

myd={1:"harsh",2:"yt"}
myd[1]="re"  
myd[3]="hope" 

for data in myd.items():
    print(data)

(1, 're')
(2, 'yt')
(3, 'hope')

In [51]:
# 9. Tuple unpacking we use [itesm]

myd={1:"harsh",2:"yt"}
myd[1]="re"  
myd[3]="hope" 

for data in myd.items():
    key,value=data
    print(data,key,value)

(1, 're') 1 re
(2, 'yt') 2 yt
(3, 'hope') 3 hope

In [59]:
# 10. count vowel
myd={"vowel":0}
for i in"harshajinh":
    if i in "aeiou":
        if i not in myd:
          myd[i]=1
    else:
        print(myd)

{'vowel': 0}
{'vowel': 0, 'a': 1}
{'vowel': 0, 'a': 1}
{'vowel': 0, 'a': 1}
{'vowel': 0, 'a': 1}
{'vowel': 0, 'a': 1, 'i': 1}
{'vowel': 0, 'a': 1, 'i': 1}

In [61]:
# 11. Aanagram

myd={}
for char in "hello":
    if char not in myd:
        myd[char]=1
    else:
        myd[char]=myd[char]+1
print(myd)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [63]:
# 12. Aanagram by using else if condition

myd={}
for char in "hello":
    if char not in myd:
        myd[char]=1
    else:
        myd[char]=myd[char]+1
myd2={}

for char in "olleh":
        if char not in myd2:
            myd2[char]=1
        else:
            myd2[char]+=1
if (myd==myd2):
    print(myd)
else:
    print("not valid")

{'h': 1, 'e': 1, 'l': 2, 'o': 1}