In [5]:
# 1.ADD (Add an element to the set)

myset={10,20,30}
myset.add(40)
print(myset)

{40, 10, 20, 30}

In [11]:
# 2.DISCARD (To remove the spicific item)

myset={10,20,30,40}
myset.discard(20)
print(myset)

{40, 10, 30}

In [13]:
# 3.UPDATE (Update the set with the union of this set and others)

myset={10,20,30,40}
myset.update([50,60])
print(myset)

{40, 10, 50, 20, 60, 30}

In [15]:
# 4.UNION (return a set containg the union of set)

myset1={10,20}
myset2={30,40}
myset.union(myset1)

{10, 20, 30, 40, 50, 60}

In [17]:
# 5.DIFFERENCE (return a set containg the difference between two or more sets)

myset={10,20,30,40}
myset2={40,50}
myset.difference(myset2)

{10, 20, 30}

In [21]:
# 6.DIFFERENCE_UPDATE (remove the item in the set that are also include in another, specific set)

myset={1,2,3,4}
myset2={3,4,5,6}
myset.difference_update(myset2)
print(myset)

{1, 2}

In [23]:
# 7.ISSUPERSET (returns wether this set contains another set or not)

myset={1,2,3,4}
myset2={3,4,5,6}
myset.issuperset(myset2)

False