In [1]:
# MAP, FILTER AND REDUCE
# These aare the build in function that allow you to apply a function to a sequence of element and return a new element.
# these functions are knwon as higher order function.

In [23]:
# MAP

def cube(x):
    return x*x*x

print(cube(2))

mylist=[1,2,4,6,43]
newlist= map(cube,mylist)
print(newlist)

8
<map object at 0x00000282A9C560E0>

In [34]:
def addnum(num):
    return num+5

mylist=[10,20,30]
out=map(addnum,mylist)
next(out)

15

In [41]:
# to get all value together (using lambda)

mylist=[10,20,30]
out=map(lambda num: num+5,mylist)
for i in out:
    print(i)

# to get the output in LIST form
mylist=[10,20,30]
list(map(lambda num: num+5,mylist) )

# to get the output in TUPLE form

mylist=[10,20,30]
tuple(map(lambda num: num+5,mylist) )

15
25
35

(15, 25, 35)

In [44]:
# to check the even number

mylist=[10,20,25,63,40]
list(map(lambda x: x%2==0 ,mylist))

[True, True, False, False, True]

In [46]:
# FILTER FUNCTION
# Will return only true value
# The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not

def cube(x):
    return x*x*x

print(cube(2))

mylist=[1,2,4,6,4]
newlist= map(cube,mylist)
print(newlist)
def filter_function(a):
    return a>2
newlist=list(filter(filter_function,mylist))
print(newlist)

8
<map object at 0x00000282A8913C40>
[4, 6, 4]

In [50]:
# to check the even number

mylist=[10,20,25,63,40]
list(filter(lambda x: x%2==0 ,mylist))

[10, 20, 40]

In [57]:
# map by lambda

mylist=[5,6,7,8]
newlist=list(map(lambda x: x*x*x,mylist))
print(newlist)

[125, 216, 343, 512]

In [63]:
mylist=[1,2,3,4,5]
newlist=list(filter(filter_function,mylist))
print(newlist)

[3, 4, 5]