In [5]:
for i in range(1,5):
    print("person",i)

person 1
person 2
person 3
person 4

In [11]:
for i in range(1,5):
    print("person",i)
    for k in range(1,5):
        print("good morning")
    break

person 1
good morning
good morning
good morning
good morning

In [15]:
for i in range(1,5):
    print("person",i)
    for k in range(1,5):
        print("good morning",k)
    break

person 1
good morning 1
good morning 2
good morning 3
good morning 4

In [19]:
for i in range(1,5):
    print("person",i)
    for k in range(1,5):
        print("good morning",k)

person 1
good morning 1
good morning 2
good morning 3
good morning 4
person 2
good morning 1
good morning 2
good morning 3
good morning 4
person 3
good morning 1
good morning 2
good morning 3
good morning 4
person 4
good morning 1
good morning 2
good morning 3
good morning 4

In [23]:
for i in range(1,5):
    print("person",i)
    for k in range(5,0,-1):
        print("good morning",k)

person 1
good morning 5
good morning 4
good morning 3
good morning 2
good morning 1
person 2
good morning 5
good morning 4
good morning 3
good morning 2
good morning 1
person 3
good morning 5
good morning 4
good morning 3
good morning 2
good morning 1
person 4
good morning 5
good morning 4
good morning 3
good morning 2
good morning 1

In [27]:
for i in range(5,0,-1):
    print("person",i)
    for k in range(1,5):
        print("good morning",k)

person 5
good morning 1
good morning 2
good morning 3
good morning 4
person 4
good morning 1
good morning 2
good morning 3
good morning 4
person 3
good morning 1
good morning 2
good morning 3
good morning 4
person 2
good morning 1
good morning 2
good morning 3
good morning 4
person 1
good morning 1
good morning 2
good morning 3
good morning 4

In [31]:
for i in range(1,5):
    print("person",i)
    for k in range(1,i+1):
        print("good morning",k)

person 1
good morning 1
person 2
good morning 1
good morning 2
person 3
good morning 1
good morning 2
good morning 3
person 4
good morning 1
good morning 2
good morning 3
good morning 4

In [37]:
for i in range(5,1,-1):
    print("person",i)
    for k in range(6,i,-1):
        print("good morning",k)

person 5
good morning 6
person 4
good morning 6
good morning 5
person 3
good morning 6
good morning 5
good morning 4
person 2
good morning 6
good morning 5
good morning 4
good morning 3

In [41]:
for i in range(5,1,-1):
    print("person",i)
    for k in range(i,6):
        print("good morning",k)

person 5
good morning 5
person 4
good morning 4
good morning 5
person 3
good morning 3
good morning 4
good morning 5
person 2
good morning 2
good morning 3
good morning 4
good morning 5

In [59]:
#table print
n=2
for i in range(n):   
    for j in range(1,11):
        print(n*j,end=" ")

2 4 6 8 10 12 14 16 18 20 2 4 6 8 10 12 14 16 18 20

In [45]:
for i in range(2,7):
    print(" ")
    for j in range(1,11):
        print(i*j,end=" ")

2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60

In [73]:
# even number table

for i in range(2,7):
    if(i%2==0):
        print(i)
        for j in range(1,11):
            print(i*j,end=" ")

2
2 4 6 8 10 12 14 16 18 20 4
4 8 12 16 20 24 28 32 36 40 6
6 12 18 24 30 36 42 48 54 60

In [75]:
# prime number

In [85]:
n=10
cond=0
for i in range(2,n):
    if(n%i==0):
        cond=1
        break
if(cond==0):
    print("prime number") 
else:
    print("not prime ")

not prime

In [89]:
n=13
cond=0
for i in range(2,n):
    if(n%i==0):
        cond=1
        break
if(cond==0):
    print("prime number")
else:
    print("not prime ")

prime number

In [93]:
for n in range(2,12):
    cond=0
    for i in range(2,n):
        if(n%i==0):
            cond=1
            break
    if(cond==0):
        print("prime",n)
    else:
        print("not prime",n)

prime 2
prime 3
not prime 4
prime 5
not prime 6
prime 7
not prime 8
not prime 9
not prime 10
prime 11

In [95]:
# armstrong number

In [101]:
n=153
while(n>0):
    print("before num:",n)
    rem=n%10
    n=n//10
    print("rem",rem, "num:",n)

before num: 153
rem 3 num: 15
before num: 15
rem 5 num: 1
before num: 1
rem 1 num: 0

In [107]:
n=int(input("enter the number"))
x=n
total=0
while(n>0):
    print("before total:",n)
    rem=n%10
    n=n//10
    total=total+rem**3

if(x==total):
    print("armstrong number",x)
else:
    print("not armstrong")

enter the number 45

before total: 45
before total: 4
not armstrong

In [111]:
n=153
x=n
total=0
while(n>0):
    print("before total:",n)
    rem=n%10
    n=n//10
    total=total+rem**3

if(x==total):
    print("armstrong number",x)
else:
    print("not armstrong")

before total: 153
before total: 15
before total: 1
armstrong number 153

In [127]:
# with for loop
for n in range(150,155):
    x=n
    total=0
    while(n>0):
        rem=n%10
        n=n//10
        total=total+rem**3

    if(x==total):
        print("armstrong",x)
    else:
        print("not armstrong",x)

not armstrong 150
not armstrong 151
not armstrong 152
armstrong 153
not armstrong 154

In [129]:
# star pattern

In [133]:
for i in range(1,5):
    print(" ")
    for j in range(1,5):
        print("*",end=" ")

print("")

* * * *
* * * *
* * * *
* * * *

In [137]:
for i in range(1,4):
    print(" ")
    for j in range(1,4):
        print("*",end=" ")

print("")

* * *
* * *
* * *

In [145]:
n=2
for i in range(1,5):
    print(" ")
    for j in range(1,i):
        print(j,end=" ")

print("")

1
1 2
1 2 3