In [18]:
for i in range(1,4):
    print("student",i)
    for j in range(1,i+1):
        print("subject=>",j)

student 1
subject=> 1
student 2
subject=> 1
subject=> 2
student 3
subject=> 1
subject=> 2
subject=> 3

In [32]:
for i in range(1,6):
    print("student",i)
    for j in range(0,7-i):
        print("subject=>",j)

student 1
subject=> 0
subject=> 1
subject=> 2
subject=> 3
subject=> 4
subject=> 5
student 2
subject=> 0
subject=> 1
subject=> 2
subject=> 3
subject=> 4
student 3
subject=> 0
subject=> 1
subject=> 2
subject=> 3
student 4
subject=> 0
subject=> 1
subject=> 2
student 5
subject=> 0
subject=> 1

In [36]:
for i in range(1,5):
    print("student",i)
    for j in range(i,5):
        print("subject=>",j)

student 1
subject=> 1
subject=> 2
subject=> 3
subject=> 4
student 2
subject=> 2
subject=> 3
subject=> 4
student 3
subject=> 3
subject=> 4
student 4
subject=> 4

In [66]:
for i in range(7,0,-1):
    print("student",i)
    for j in range(1,i+1):
        print("subject=>",j)

student 7
subject=> 1
subject=> 2
subject=> 3
subject=> 4
subject=> 5
subject=> 6
subject=> 7
student 6
subject=> 1
subject=> 2
subject=> 3
subject=> 4
subject=> 5
subject=> 6
student 5
subject=> 1
subject=> 2
subject=> 3
subject=> 4
subject=> 5
student 4
subject=> 1
subject=> 2
subject=> 3
subject=> 4
student 3
subject=> 1
subject=> 2
subject=> 3
student 2
subject=> 1
subject=> 2
student 1
subject=> 1

In [86]:
for i  in range(1,5):
    print("student",i)
    for j in range(1,5):
        print("subject==>",j,end=" ")
    print(" ")

student 1
subject==> 1 subject==> 2 subject==> 3 subject==> 4
student 2
subject==> 1 subject==> 2 subject==> 3 subject==> 4
student 3
subject==> 1 subject==> 2 subject==> 3 subject==> 4
student 4
subject==> 1 subject==> 2 subject==> 3 subject==> 4

In [94]:
for i in range(1,5):

    for j in range(1,5):
        print("*",end=" ")
    print("")

* * * *
* * * *
* * * *
* * * *

In [7]:
for i in range(1,5):

    for j in range(1,i+1):
        print("*",end=" ")
    print("")

*
* *
* * *
* * * *

In [26]:
x=1
for i in range(5,1,-1):

    for j in range(5,i-1,-1):
        print(x,end=" ")
        x=x+1
    print("")

1
2 3
4 5 6
7 8 9 10

In [30]:
for i in range(1,4):
        print(i*"*")
for i in range(4,0,-1):
        print(i*"*")

*
**
***
****
***
**
*

In [36]:
3*"x"

'xxx'

In [42]:
for i in range(1,6):
    print(i*"*")

*
**
***
****
*****

In [48]:
for i in range(6,0,-1):
    print(i*"*")

******
*****
****
***
**
*

In [60]:
for i in range(1,5):
    print(i*"*")
for j in range(5,0,-1):
    print(j*"*")

*
**
***
****
*****
****
***
**
*