In [1]:
# LIST

In [7]:
# 1.FIND OUT THE SECOND LARGEST NUMBER

arr =[10,20,4,45,99,99]            #arr(list variable name)
# remove duplicate element and sort in desending order
unique_arr =list(set(arr))
print(unique_arr)
unique_arr.sort(reverse=True)
print(unique_arr)         

print("second max element =", unique_arr[1])

[99, 4, 10, 45, 20]
[99, 45, 20, 10, 4]
second max element = 45

In [9]:
# 2. Check if list is Palindrome

arr=[1,2,3,2,1]
if(arr==arr[::-1]):
    print("palindrome")

else:
    print("not palindrome")

palindrome

In [11]:
# 3.Reverse of a list

arr=[1,2,3,4,5]
print(arr[::-1])

[5, 4, 3, 2, 1]

In [15]:
# 4. FIND OUT ALL THE DUPLICATE IN A LIST

arr=[1,2,3,2,4,5,1,6,7,7]
duplicate=[]

#store count of each element in dictionary
count_dict={}

for num in arr:
    count_dict[num]=count_dict.get(num,0)+1

print(count_dict)

# find element that appear more than once

duplicate=[key for key,value in count_dict.items() if value>1]

print("duplicate is:",duplicate)

{1: 2, 2: 2, 3: 1, 4: 1, 5: 1, 6: 1, 7: 2}
duplicate is: [1, 2, 7]

In [17]:
# 5. ROTAET A LIST BY K POSITION

arr=[1,2,3,4,5]
k=2

# Rotate the list using slicing

rotated_arr= arr[-k:] + arr[:-k]

print("rotated list is:",rotated_arr)

rotated list is: [4, 5, 1, 2, 3]

In [29]:
# 6.FIND THE INTERSECTION OF TWO LISTS

arr1 = [1, 2, 3]
arr2 = [1,2,3,4,5]

# Convert lists to sets and find the intersection
intersection = list(set(arr1) & set(arr2))

print(intersection)

[1, 2, 3, 4, 5]

In [31]:
# 7.FIND THE INTERSECTION OF TWO LISTS (SECOND WAY)

a=[1,2,3,4]
b=[2,3,5,6]
c=set(a)
d=set(b)
e=c.intersection(d)
print("common element are:",list(e))

common element are: [2, 3]

In [35]:
# 8.FINND OUT THE  MAXIMUM ELEMENT IN A LIST

arr=[3,1,8,2,5,7]
max_value= arr[0]   # assume first element is max

for num in arr:
    if num> max_value:
        max_value=num   # update max  if a lagre value is found

print("max element is:",max_value)

max element is: 8

In [39]:
# 9.SOME OF ALL ELEMENT

arr=[1,2,3,4,5]
sum=0
for i in range(len(arr)):
    sum=sum+arr[i]

print("total sum is:",sum)

total sum is: 15

In [47]:
# 10.SOME OF ALL ELEMENT (by user input)

arr=[]
size=int(input("enter the size"))
for i in range(size):
    val=int(input("enter the element"))
    arr.append(val)
print(arr)    
sum=0
for i in range(len(arr)):
    sum=sum+arr[i]

print("total sum is:",sum)

enter the size 2
enter the element 2
enter the element 2

[2, 2]
total sum is: 4