In [4]:
# complete code to find out the prime number

num=15
a=0
for i in range(2,15):
    if(num%i==0):
        a=1
        break

if(a==0):
    print("prime number")

else:
    print("not prime")

not prime

In [6]:
# prime number

num=15
for i in range(2,15):
    if(num%i==0):
        print("not prime is ",i ,"of",num)
        break

not prime is  3 of 15

In [8]:
# prime number

num=15
for i in range(2,15):
    if(num%i==0):
        print("not prime",i ,"is",num)

    else:
        print("prime",i ,"is",num)

prime 2 is 15
not prime 3 is 15
prime 4 is 15
not prime 5 is 15
prime 6 is 15
prime 7 is 15
prime 8 is 15
prime 9 is 15
prime 10 is 15
prime 11 is 15
prime 12 is 15
prime 13 is 15
prime 14 is 15

In [10]:
# reverse by user input using for loop

x=int(input("enter the number"))
for i in range(0,3):
    rem=x%10
    x=x//10
    print(rem,x)

enter the number 45

5 4
4 0
0 0

In [12]:
x=432
for i in range(0,3):
    rem=x%10
    x=x//10
    print(rem,x)

2 43
3 4
4 0

In [ ]:
# reverse of an number by using for loop.
x=432
for i in range(0,3):
    rem=x%10
    x=x//10
    print(rem)