In [2]:
#SET
# Set is a data type in Python.
# Set stores only a unique elements.
# Set dont take duplicate values or elements.
# Set do not have any index position (elements do not have any index position).

In [8]:
myset={10,20,10,10,204,100}
print(myset)

{10, 204, 100, 20}

In [12]:
# to add the new element

myset={10,20,10,10,204,100}
myset.add(500)
print(myset)

{100, 10, 204, 500, 20}

In [22]:
# to delete the element 
# we use Remove
# better then reomve we use Discard

myset={10,20,10,10,204,100}
myset.discard(500)
print(myset)

{10, 204, 100, 20}

In [16]:
# to add multiple element we use update ([UPDATE])

myset={10,20,10,10,204,100}
myset.update([100,200,300])
print(myset)

{100, 200, 10, 204, 300, 20}

In [18]:
# to add two group of an element

myset={1,2,3}
myset2={3,4,5}
myset.union(myset2)

{1, 2, 3, 4, 5}

In [24]:
# function DIFFERENCE  (to check the diff

myset={1,2,3,4}
myset2={3,4,5,6}
myset.difference(myset2)

{1, 2}

In [ ]:
# difference_update (Removes the items in this set that are also included in another, specified set)