In [1]:
# ZIP
# The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together
# allow us to join (LIST, TUPLES, DICTIONARY)
# zip function returns iterator in TUPLE

In [5]:
name=["harsh","shivam","honey"]
age=[28,26,27]

zipped =zip(name,age)
print(list(zipped))

[('harsh', 28), ('shivam', 26), ('honey', 27)]

In [9]:
name= ["harsh","shivam","honey"]
salary=[10000,20000,30000]

zipped=zip(name,salary)
print(list(zipped))

[('harsh', 10000), ('shivam', 20000), ('honey', 30000)]

In [11]:
# ENUMRATE FUNCTION
# The enumerate function in Python adds a counter to an iterable and returns it as an enumerate object. 
# This function is useful for keeping track of the index and value while iterating over a sequence.
# Takes the iterator in (LIST,TUPLE,STRING)
# return the iterator in INDEX AND VALUE

In [15]:
fruits=["apple","mango","banana"]
for i, fruits in enumerate(fruits):
    print(i,fruits)

0 apple
1 mango
2 banana

In [17]:
name=["harsh","shivali","honey"]
for i, name in enumerate(name):
    print(i,name)

0 harsh
1 shivali
2 honey